# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-32
nomkl
requests=2.12.3=py35_0
cython=0.25.1=py35_0
numpy=1.11.2=py35_nomkl_0
pip=9.0.1=py35_1
python=3.5.2=0
scikit-learn=0.18.1=np111py35_nomkl_0
scipy=0.18.1=np111py35_nomkl_0
setuptools=27.2.0=py35_0
libgfortran=3.0.0=1
openblas=0.2.14=4
